# Ignore node_modules directory
node_modules

# Ignore logs
logs
*.log

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore Git files
.git
.gitignore

# Ignore environment files
.env*

# Ignore IDE/editor config files
.vscode
.idea

# Ignore build output
build
dist
.next

# Ignore other miscellaneous files
*.swp
*.swo

#ignore any compressed files
*.tar

#ignore next cache in the build
